/* TOdo break a lunh
  done 1)базові стилі які задаєш для тегів краще винести в окремий файл 
  створи файл reset.css повинось ці стилі та підключи до html
  done 2)Розділяй блоки стилів через enter, краще читається і це про чистоту коду :)
  Форматуй текст завжди)
*/




.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
}


.offer {
  padding-top: 82px;
}

.offer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 180px;
  margin-bottom: 120px;
}

.group {
  width: 465px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.group__title {
    text-align: left;
}

.offer__group_img {
  max-width: 465px;
  max-height: 465px;
  padding: 105px;
  border-radius: 70px;
  background: linear-gradient(180deg, #ffe195 0%, #ff5b5b 100%);
  width: 100%;
  height: 100%;
} 

.logo {
  display: block;
  margin: 0 auto;
}

.group__btn {
  border-radius: 100px;
  background: #ff6861;
  color: #fff;
  padding: 22px 70px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 227px;
  transition: 0.3s ease-in;
  transition-property: background, color;
}

.group__btn:hover {
    color: #ff6861;
    background: #ffe195;
}

/* .offer__body__link--secondary {
border-radius: 16px;
color: #000;
background-color: #fff;
} */


.group__description {
  font-size: 18px;
  width: 423px;
  text-align: left;
}

.img__item_img {
  width: 73px;
  height: 73px;
  margin-right: 34px;
}

.img__item {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.img__wrap_title {
  font-size: 30;
  margin-bottom: 11px;
}

.features__images {
  display: flex;
  flex-direction: column;
  gap: 41;
  width: 720px;
  margin: 70px auto 0 auto;
  margin-bottom: 120px;
}

.practice-wrap {
  border-radius: 60px;
  background: linear-gradient(102deg, #fff6df 17.38%, #ffdfde 81.25%);
  display: flex;
  align-items: center;
  padding: 76px 126px 75px 122px;
  margin-bottom: 120px;
}

.block-practic {
  width: 475px;
}

.practice-text {
    margin: 24px 0;
    width: 371px;
}

footer {
    padding: 120px 0;
    text-align: center;
}

.offer__practice_img {
  padding: 76px 125px 75px 122px;
  justify-content: center;
  align-items: center;
  gap: 101px;
}

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .offer__wrapper {
        flex-direction: column;
        text-align: center;
        gap: 80px;
    }

    .offer__body__link {
        margin: 0 auto;
    }

    .practice-wrap {
      flex-direction: column;
    }

   .block-practic {
    text-align: center;
    padding: 101px 37px;
   }

   .practice-text {
    margin: 24px auto;
   }

   .practice-title {
    text-align: center;
   }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .img-item {
      flex-direction: column;
      text-align: center;
      gap: 34px;
    }

  .images {
    width: auto;
    gap: 41px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .caw {
      width: 100%;
      display: block;
    }

    .offer__body__title {
      width: auto;
    }

    .practice-wrap {
      width: 100%;
      padding: 70px 37px ;
    }

    .beetle {
      width: 201px;
    }
}
